<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h3 > Detalle de operador </h3>
<table border="1">
    <tr>
        <td>Id</td>
        <td th:text="${operador.idOperador}">LOL</td>
    </tr>
    <tr>
        <td>Nombre</td>
        <td th:text="${operador.nombre}">LOL</td>
    </tr>
    <tr>
        <td>Usuario</td>
        <td th:text="${operador.usuarioId}">LOL</td>
    </tr>

</table>

<botton><a th:href="${'/operador/getAll/'}">Regresar</a></botton>

</body>
</html>