<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link type="text/css" rel="stylesheet" th:src="@{/jquery-ui-1.8.13.custom.css}" />
    <script type="text/javascript" th:src="@{/jquery-1.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-ui-1.8.13.custom.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-ui-timepicker-addon.js}"></script>
    <script type="text/javascript">
        $(function(){
            $('#fecha').datetimepicker();
        });
    </script>
</head>
<body>
<form method="POST" th:object="${operador}" th:action="@{/operador/save}" >
    <table>
        <thead>
        <tr>
            <td colspan="2">
               Operador
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <label for="id">Nombre</label>
            </td>
            <td>
                <input type="hidden" th:field="*{idOperador}" />
                <input type="text" th:field="*{nombre}" />
            </td>

        </tr>
        <tr>
            <td>
                <label >Usuario</label>
            </td>
            <td>
                <input type="text"  th:field="*{usuarioId}" />
            </td>

        </tr>


        <tr>
            <td colspan="2">
                <button th:if="${accion=='guardar'}" type="submit">Guardar</button>
                <button th:if="${accion=='actualizar'}" type="submit">Actualizar</button>
            </td>
        </tr>

        </tbody>

    </table>

    <botton><a th:href="${'/operador/getAll/'}">Regresar</a></botton>
</form>

</body>
</html>