<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:replace="common/topMenu :: navbar"/>

<table border="1">
    <thead>
    <tr>
        <th colspan="6">Metodo</th>
    </tr>
    <tr>
        <th>ID</th>
        <th>Descripcion </th>
        <th colspan="3">ACCION</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="metodo : ${metodos}">
        <td th:text="${metodo.idMetodo}">aaa</td>
        <td th:text="${metodo.descripcion}">aaa</td>
        <td><a th:href="${'/metodo/getMetodo/'+metodo.idMetodo}">Ver</a></td>
        <td><a th:href="${'/metodo/update/'+metodo.idMetodo}">Modificar</a></td>
        <td><a th:href="${'/metodo/delete/'+metodo.idMetodo}">Eliminar</a></td>
    </tr>

    </tbody>
</table>

<botton><a th:href="${'/metodo/new/'}">Agregar nuevo </a></botton>

</body>
</html>