<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link type="text/css" rel="stylesheet" th:src="@{/jquery-ui-1.8.13.custom.css}" />
    <script type="text/javascript" th:src="@{/jquery-1.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-ui-1.8.13.custom.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-ui-timepicker-addon.js}"></script>
    <script type="text/javascript">
        $(function(){
            $('#fecha').datetimepicker();
        });
    </script>
</head>
<body>

<form method="POST" th:object="${movimiento}" th:action="@{/consulta/listaMovimientos}" >
    <table>
        <thead>
        <tr>
            <td colspan="2">
                Movimientos
            </td>
        </tr>
        </thead>
        <tbody>
             <input type="hidden" th:value='${numeroCuenta}' name="numeroCuenta" />
        <tr>
            <td>
                <label for="id">Fecha de inicio</label>
            </td>
            <td>
                <label >Desde: </label>
                <input type="text" th:field="${movimiento.fechaInicioDesde}" />
            </td>
            <td>
                <label >Hasta: </label>
                <input type="text" th:field="${movimiento.fechaInicioHasta}" />
            </td>

        </tr>

        <tr>
            <td colspan="2">
                <button type="submit">Enviar</button>
            </td>
        </tr>

        </tbody>

    </table>
</form>

</body>
</html>