<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>PERSONA JURIDICA</h1>
<table border="1">
    <tr>
        <td>ID</td>
        <td th:text="${personaJ.id}"></td>
    </tr>
    <tr>
        <td>Nombre Razon</td>
        <td th:text="${personaJ.nombreRazon}"></td>
    </tr>
    <tr>
        <td>NIT</td>
        <td th:text="${personaJ.nit}"></td>
    </tr>
    <tr>
        <td>Registro FundaEmpresa</td>
        <td th:text="${personaJ.registroFundaempresa}"></td>
    </tr>
</table>

<!--CUENTAS ASOCIADAS AL CLIENTE-->
<h2>Cuentas Asociadas</h2>
<table border="1">
    <thead>
    <tr>
        <td>Id</td>
        <td>Numero Cuenta</td>
        <td>Tipo</td>
        <td>Saldo</td>
    </tr>
    </thead>
    <tbody th:each="cuenta : ${cuentas}">
    <tr>
        <td th:text="${cuenta.idCuenta}">LOL</td>
        <td th:text="${cuenta.numeroCuenta}">LOL</td>
        <td th:text="${cuenta.tipo}">LOL</td>
        <td th:text="${cuenta.saldo}">LOL</td>
    </tr>
    </tbody>
</table>
<br/>
<br/>

<h2>INFORMACION REPRESENTANTE LEGAL</h2>
<table border="1">
    <tr>
        <td>ID</td>
        <td th:text="${personaJ.representanteLegal.id}"></td>
    </tr>
    <tr>
        <td>Paterno</td>
        <td th:text="${personaJ.representanteLegal.apellidoPaterno}"></td>
    </tr>
    <tr>
        <td>Materno</td>
        <td th:text="${personaJ.representanteLegal.apellidoMaterno}"></td>
    </tr>
    <tr>
        <td>Ap. Casado</td>
        <td th:text="${personaJ.representanteLegal.apellidoCasado}"></td>
    </tr>
    <tr>
        <td>Nombres</td>
        <td th:text="${personaJ.representanteLegal.nombres}"></td>
    </tr>
    <tr>
        <td>Documento Identidad</td>
        <td th:text="${personaJ.representanteLegal.documentoIdentidad}"></td>
    </tr>
    <tr>
        <td>Numero</td>
        <td th:text="${personaJ.representanteLegal.numeroDocumento}"></td>
    </tr>
    <tr>
        <td>Fecha Nacimiento</td>
        <td th:text="${personaJ.representanteLegal.fechaNacimiento}"></td>
    </tr>
    <tr>
        <td>Lugar Nacimiento</td>
        <td th:text="${personaJ.representanteLegal.lugarNacimiento}"></td>
    </tr>
    <tr>
        <td>Nacionalidad</td>
        <td th:text="${personaJ.representanteLegal.nacionalidad}"></td>
    </tr>
    <tr>
        <td>Domicilio</td>
        <td th:text="${personaJ.representanteLegal.domicilio}"></td>
    </tr>
    <tr>
        <td>Domicilio Trabajo</td>
        <td th:text="${personaJ.representanteLegal.domicilioTrabajo}"></td>
    </tr>
    <tr>
        <td>Telefono</td>
        <td th:text="${personaJ.representanteLegal.telefono}"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td th:text="${personaJ.representanteLegal.email}"></td>
    </tr>
    <tr>
        <td>Estado Civil</td>
        <td th:text="${personaJ.representanteLegal.estadoCivil}"></td>
    </tr>
    <tr>
        <td>Profesion</td>
        <td th:text="${personaJ.representanteLegal.profesion}"></td>
    </tr>
    <tr>
        <td>Caracter Legal</td>
        <td th:text="${personaJ.representanteLegal.caracterLegal}"></td>
    </tr>
    <tr>
        <td>Nombre Padre</td>
        <td th:text="${personaJ.representanteLegal.nombrePadre}"></td>
    </tr>
    <tr>
        <td>Nombre Madre</td>
        <td th:text="${personaJ.representanteLegal.nombreMadre}"></td>
    </tr>
    <tr>
        <td>Nombre Conyuge</td>
        <td th:text="${personaJ.representanteLegal.nombreConyuge}"></td>
    </tr>
</table>
</body>
</html>