<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>PERSONA NATURAL</h1>
<!--Informacion de la persona natural-->
<table>
    <tr>
        <td>ID CLIENTE</td>
        <td th:text="${personaN.id}"></td>
    </tr>
</table>
<!--CUENTAS ASOCIADAS AL CLIENTE-->
<h2>Cuentas Asociadas</h2>
<table border="1">
    <thead>
    <tr>
        <td>Id</td>
        <td>Numero Cuenta</td>
        <td>Tipo</td>
        <td>Saldo</td>
    </tr>
    </thead>
    <tbody th:each="cuenta : ${cuentas}">
    <tr>
        <td th:text="${cuenta.idCuenta}">LOL</td>
        <td th:text="${cuenta.numeroCuenta}">LOL</td>
        <td th:text="${cuenta.tipo}">LOL</td>
        <td th:text="${cuenta.saldo}">LOL</td>
    </tr>
    </tbody>
</table>
<br/>
<br/>
<!--Informacion de la PEROSONA-->
<h2>INFORMACION PERSONAL</h2>
<table border="1">
    <tr>
        <td>ID</td>
        <td th:text="${personaN.persona.id}"></td>
    </tr>
    <tr>
        <td>Paterno</td>
        <td th:text="${personaN.persona.apellidoPaterno}"></td>
    </tr>
    <tr>
        <td>Materno</td>
        <td th:text="${personaN.persona.apellidoMaterno}"></td>
    </tr>
    <tr>
        <td>Ap. Casado</td>
        <td th:text="${personaN.persona.apellidoCasado}"></td>
    </tr>
    <tr>
        <td>Nombres</td>
        <td th:text="${personaN.persona.nombres}"></td>
    </tr>
    <tr>
        <td>Documento Identidad</td>
        <td th:text="${personaN.persona.documentoIdentidad}"></td>
    </tr>
    <tr>
        <td>Numero</td>
        <td th:text="${personaN.persona.numeroDocumento}"></td>
    </tr>
    <tr>
        <td>Fecha Nacimiento</td>
        <td th:text="${personaN.persona.fechaNacimiento}"></td>
    </tr>
    <tr>
        <td>Lugar Nacimiento</td>
        <td th:text="${personaN.persona.lugarNacimiento}"></td>
    </tr>
    <tr>
        <td>Nacionalidad</td>
        <td th:text="${personaN.persona.nacionalidad}"></td>
    </tr>
    <tr>
        <td>Domicilio</td>
        <td th:text="${personaN.persona.domicilio}"></td>
    </tr>
    <tr>
        <td>Domicilio Trabajo</td>
        <td th:text="${personaN.persona.domicilioTrabajo}"></td>
    </tr>
    <tr>
        <td>Telefono</td>
        <td th:text="${personaN.persona.telefono}"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td th:text="${personaN.persona.email}"></td>
    </tr>
    <tr>
        <td>Estado Civil</td>
        <td th:text="${personaN.persona.estadoCivil}"></td>
    </tr>
    <tr>
        <td>Profesion</td>
        <td th:text="${personaN.persona.profesion}"></td>
    </tr>
    <tr>
        <td>Caracter Legal</td>
        <td th:text="${personaN.persona.caracterLegal}"></td>
    </tr>
    <tr>
        <td>Nombre Padre</td>
        <td th:text="${personaN.persona.nombrePadre}"></td>
    </tr>
    <tr>
        <td>Nombre Madre</td>
        <td th:text="${personaN.persona.nombreMadre}"></td>
    </tr>
    <tr>
        <td>Nombre Conyuge</td>
        <td th:text="${personaN.persona.nombreConyuge}"></td>
    </tr>
</table>
</body>
</html>