<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th colspan="3">Clientes</th>
    </tr>
    <tr>
        <th>ID</th>
        <th>TIPO</th>
        <th colspan="3">ACCION</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cliente : ${clientes}">
        <td th:text="${cliente.id}">aaa</td>
        <td th:text="${cliente.tipo}">aaa</td>
        <td><a th:href="${'/cliente/show/' + cliente.id}">Ver</a></td>
        <td><a th:href="${'/cliente/update/'+cliente.id}">Actualizar</a></td>
        <td><a th:href="${'/cliente/delete/'+cliente.id}">Eliminar</a></td>
    </tr>

    </tbody>
</table>
</body>
</html>