<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link type="text/css" rel="stylesheet" th:src="@{/jquery-ui-1.8.13.custom.css}" />
    <script type="text/javascript" th:src="@{/jquery-1.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-ui-1.8.13.custom.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-ui-timepicker-addon.js}"></script>
    <script type="text/javascript">
        $(function(){
            $('#fecha').datetimepicker();
        });
    </script>
</head>
<body>
<form method="POST" th:object="${transaccion}" th:action="@{/transaccion/save}" >
    <table>
        <thead>
        <tr>
            <td colspan="2">
                Transaccion
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <label for="id">Numero de cuenta</label>
            </td>
            <td>
                <input type="hidden" th:field="*{idTransaccion}" />
                <input type="text" th:field="*{numeroCuenta}" />
            </td>

        </tr>
        <tr>
            <td>
                <label >Fecha de inicio</label>
            </td>
            <td>
                <input type="text"  th:field="${transaccion.fechaInicio}" />
            </td>

        </tr>
        <tr>
            <td>
                <label >Fecha de aprobacion</label>
            </td>
            <td>
                <input type="text" th:field="${transaccion.fechaAprobacion}"  />
            </td>

        </tr>
        <tr>
            <td>
                <label >Fecha de ejecucion</label>
            </td>
            <td>
                <input type="text" th:field="${transaccion.fechaEjecucion}" />
            </td>

        </tr>
        <tr>
            <td>
                <label >Numero de orden</label>
            </td>
            <td>
                <input type="text" th:field="*{numeroOrden}" />
            </td>

        </tr>
        <tr>
            <td>
                <label >Metodo</label>
            </td>
            <td>
               <!-- <input type="text" th:field="*{metodoId}" /> -->
                <select th:field="${transaccion.metodoId}">
                    <option th:each="metodo :${metodos}"
                            th:value="${metodo.idMetodo}" th:text="${metodo.descripcion}">Efectivo</option>
                </select>

            </td>

        </tr>
        <tr>
            <td>
                <label >Estatus</label>
            </td>
            <td>
                <select th:field="${transaccion.estatusId}">
                    <option th:each="estatus :${estatuss}"
                            th:value="${estatus.idEstatus}" th:text="${estatus.descripcion}">Efectivo</option>
                </select>
            </td>

        </tr>
        <tr>
            <td>
                <label >Autorizacion</label>
            </td>
            <td>
                <select th:field="${transaccion.autorizacionId}">
                    <option th:each="autorizacion :${autorizaciones}"
                            th:value="${autorizacion.idAutorizacion}" th:text="${autorizacion.tipo}">Efectivo</option>
                </select>
            </td>

        </tr>
        <tr>
            <td>
                <label >Operacion</label>
            </td>
            <td>
                <select th:field="${transaccion.operacionId}">
                    <option th:each="operacion :${operaciones}"
                            th:value="${operacion.idOperacion}" th:text="${operacion.descripcion}">Efectivo</option>
                </select>
            </td>

        </tr>
        <tr>
            <td>
                <label >Monto</label>
            </td>
            <td>
                <input type="text" th:field="*{monto}" />
            </td>

        </tr>

        <tr>
            <td>
                <label >Moneda</label>
            </td>
            <td>
                <input type="text" th:field="*{moneda}" />
            </td>

        </tr>
        <tr>
            <td>
                <label >Saldo</label>
            </td>
            <td>
                <input type="text" th:field="*{saldo}" />
            </td>

        </tr>
        <tr>
            <td>
                <label >Beneficiario</label>
            </td>
            <td>
                <select th:field="${transaccion.beneficiarioId}">
                    <option th:each="benficiario :${beneficiarios}"
                            th:value="${benficiario.idBeneficiario}" th:text="${benficiario.nombreRs}">Efectivo</option>
                </select>
            </td>

        </tr>
        <tr>
            <td>
                <label >Concepto/Glosa</label>
            </td>
            <td>
                <input type="text" th:field="*{conceptoGlosa}" />
            </td>

        </tr>
        <tr>
            <td>
                <label >Operador</label>
            </td>
            <td>
                <select th:field="${transaccion.operador}">
                    <option th:each="operador :${operadores}"
                            th:value="${operador.idOperador}" th:text="${operador.nombre}">Efectivo</option>
                </select>
            </td>

        </tr>
        <tr>
            <td>
                <label >Regitro ASFI</label>
            </td>
            <td>
                <input type="text" th:field="*{regisAsfi}" />
            </td>

        </tr>
        <tr>
            <td>
                <label >Regitro de facturacion</label>
            </td>
            <td>
                <input type="text" th:field="*{registroFacturacion}" />
            </td>

        </tr>

        <tr>
            <td colspan="2">
                <button th:if="${accion=='guardar'}" type="submit">Guardar</button>
                <button th:if="${accion=='actualizar'}" type="submit">Actualizar</button>
            </td>
        </tr>

        </tbody>

    </table>

    <botton><a th:href="${'/transaccion/getAll/'}">Regresar</a></botton>
</form>

</body>
</html>